<!DOCTYPE html>
<html lang="en">

<%- partial('../_partials/_head'); %>

<body>

<div class="page subpage">

  <%- partial('../_partials/_header'); %>

  <div class="panel">
    <div>
      
      <main>
        <aside class="primary-aside">
          
          <%- partial('../_partials/_quotes'); %>

        </aside>
        <div class="primary-content">
          
          <h1>Contact</h1>

          <p>If you have any questions, please contact us. Our main office number is <strong>480-685-2931</strong>.</p>

          Redstone Capital Management, LLC.<br>
          7231 E. Princess Blvd.<br>
          Suite 201<br>
          Scottsdale, AZ 85255<br><br>

          <div class="map">
            <style>.map { max-width: 900px; } iframe { width: 100%; }</style>
            <a href="https://goo.gl/maps/yYwDpVxuSH72" target="_blank">Open this map it it's own browser tab</a><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3321.4063262585123!2d-111.92427118479557!3d33.646632080718206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b769c1ed7b0fb%3A0x5a67cd043f755e75!2s7231+E+Princess+Blvd%2C+Scottsdale%2C+AZ+85255!5e0!3m2!1sen!2sus!4v1492703296119" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <%- yield %>

        </div>
      </main>
      
    </div>
  </div>

  <%- partial('../_partials/_footer'); %>

</div>

<%- partial('../_partials/_scripts'); %>

</body>
</html>