<!DOCTYPE html>
<html lang="en">

<%- partial('./_partials/_head'); %>

<body>

<div class="page">

  <%- partial('./_partials/_header'); %>

  <div class="hero">
    <div class="slide-1 panel">
      <div>
        
        <div class="slide-content">
          The core values of Redstone Capital Management are independence, integrity and respect. These values are the foundation of everything we do, and embedded in every client-advisor relationship in which we engage.
        </div>
        
      </div>
    </div>
    <div class="slide-2 panel">
      <div>

        <div class="slide-content">
          It is what you have worked your entire adult life to build, and the vehicle which will power you into retirement. Your wealth is not only important, but crucial to achieving your goals.  Redstone Capital Management understands the responsibility &amp; trust required to properly allow this asset to flourish.
        </div>

      </div>
    </div>
    <div class="slide-3 panel">
      <div>

        <div class="slide-content">
          Proper wealth management does not involve a cookie cutter.  Our strategy shifts &amp; evolves based on your needs, life events, goals and the changing economic environment.
        </div>
        
      </div>
    </div>
  </div>

  <div class="panel services">
    <div>
      
      <section class="service">
        <h1 class="title">Quality</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et accusantium saepe laborum animi error iure labore molestiae aperiam hic a asperiores.</p>
      </section>
      <section class="service">
        <h1 class="title">Wealth</h1>
        <p>Laborum animi error iure labore molestiae aperiam hic a asperiores.</p>
      </section>
      <section class="service">
        <h1 class="title">Management</h1>
        <p>Et accusantium saepe laborum animi error iure labore molestiae aperiam hic a asperiores.</p>
      </section>

    </div>
  </div>

  <div class="panel">
    <div>
      
      <main>
        <aside class="primary-aside">
          
          <%- partial('./_partials/_quotes'); %>

        </aside>
        <div class="primary-content">
          
          <%- yield %>

        </div>
      </main>
      
    </div>
  </div>

  <%- partial('./_partials/_footer'); %>

</div>

<%- partial('./_partials/_scripts'); %>

</body>
</html>