<!DOCTYPE html>
<html lang="en">

<%- partial('./_partials/_head'); %>

<body>

<div class="page">

  <%- partial('./_partials/_header'); %>

  <div class="hero">
    <div class="slide-1 panel">
      <div>
        
        <div class="slide-content">
          At Redstone Capital, we realize your trust is in us to perform day-in and day-out. Managing wealth is a priviledge. Quality is our duty.
        </div>
        
      </div>
    </div>
    <div class="slide-2 panel">
      <div>

        <div class="slide-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fugit accusamus nulla voluptas non deserunt cumque, asperiores iusto ea illo.
        </div>

      </div>
    </div>
    <div class="slide-3 panel">
      <div>

        <div class="slide-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fugit accusamus nulla voluptas non deserunt cumque, asperiores iusto ea illo.
        </div>
        
      </div>
    </div>
  </div>

  <div class="panel services">
    <div>
      
      <section class="service">
        <h1 class="title">Quality</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et accusantium saepe laborum animi error iure labore molestiae aperiam hic a asperiores.</p>
      </section>
      <section class="service">
        <h1 class="title">Wealth</h1>
        <p>Laborum animi error iure labore molestiae aperiam hic a asperiores.</p>
      </section>
      <section class="service">
        <h1 class="title">Management</h1>
        <p>Et accusantium saepe laborum animi error iure labore molestiae aperiam hic a asperiores.</p>
      </section>

    </div>
  </div>

  <div class="panel">
    <div>
      
      <main>
        <aside class="primary-aside">
          
          <%- partial('./_partials/_quotes'); %>

        </aside>
        <div class="primary-content">
          
          <%- yield %>

        </div>
      </main>
      
    </div>
  </div>

  <%- partial('./_partials/_footer'); %>

</div>

<%- partial('./_partials/_scripts'); %>

</body>
</html>